* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  
  .container {
    max-width: 1170px;
    padding: 5px 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper {
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid black;
  }
  
  .upperText {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
  }
  
  .taskInput {
    outline: none;
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .addBtn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addBtn:hover {
    background-color: #45a049;
  }
  
  .taskQueue {
    padding: 10px;
  }
  
  .taskQueueItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    position: relative;
  }
  
  .checkTask::after {
    content: "";
    width: 10px;
    height: 5px;
    border: 2px solid #4caf50;
    border-top: none;
    border-right: none;
    transform: rotate(300deg);
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
  }
  
.checked{
    background-color: gainsboro;
}
  
  .delTask {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .sortBtn {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  .sortBtn:hover {
    background-color: #1976d2;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }